  <div class="flex-ns flex-wrap center mw9">
    <!-- LEFT -->

    <div class="w-100 w-50-ns">
      <div class="w-80 center tc nested-copy-line-height">
        <h3 class="f2 black">VoteIT makes your meetings work for you on all platforms.</h3>
        <p class="f3">VoteIT works in your browser on macOS, Windows, Linux, FreeBSD, and others.</p>
        <p class="f3">Host on any Linux server with Python.</p>
      </div>
    </div>

    <!-- RIGHT -->
    <div class="w-100 w-50-ns tc">
      <div class="h4">
        <img src="/images/logo-voteit.png" alt="VoteIT Logo" class="h4">
      </div>
<!--      <p class="f6 mid-gray m0 p0 pt3">Mac OS</p>
      <div class="code f6 bg-black light-green lh-copy pv3 ph3 br2 w-100 w-50-ns center mb2 tl">
        $ brew install hugo <br />
      </div>
      <p class="f6 mid-gray">Windows</p>
      <div class="code f6 bg-black light-green lh-copy pv3 ph3 br2 w-100 w-50-ns center tl">
        $ choco install hugo -confirm <br />
      </div>
      <p class="f6 mid-gray">Linux</p>
      <div class="code f6 bg-black light-green lh-copy pv3 ph3 br2 w-100 w-50-ns center tl">
        $  snap install hugo <br />
      </div>-->


      <p class="f5 nested-links"><a href="{{ "getting-started/installing/" | absURL }}" class="link">See the Getting Started Guide for how you can get started. {{ partial "svg/link-ext.svg" (dict "fill" "#333" "size" "14") }}</a></p>
    </div>

    <!-- TODO: the install section should have a tab menu for selecting the preferred installation method, i.e. the binaries from GitHub or the commands for the installation via a package manager https://github.com/rdwatters/hugo-docs-concept/issues/3#issuecomment-287498412 -->

      <!-- TODO: Animate the gopher  https://github.com/rdwatters/hugo-docs-concept/issues/3#issuecomment-287194777 -->


  </div>
