<div class="w-100 center pt5">
  <div class="w-100 w-40-l tc center">
    <img src="/images/GitHub-Mark-64px.png" alt="Github Logo" class="tc center">
  </div>
</div>

<div class="flex-ns flex-wrap center pb4 center mw9">
  <!-- LEFT -->
  <div class="w-100 tc w-third-l">
    <h3 class="f3 mv3 accent-color-light">We welcome all contributions</h3>
    <ul class="list ma0 pa0">
      <li class="mb3 f4">

        <a href="https://github.com/voteit/voteit.core/blob/master/CONTRIBUTING.md" class="link mid-gray dim">
          Fork the repo and work on an issue {{ partial "svg/link-ext.svg" (dict "fill" "#333" "size" "14") }}
        </a>
      </li>
      <li class="mb3 f4">
        <a href="https://github.com/voteit/" class="link mid-gray dim">
          Discuss the development {{ partial "svg/link-ext.svg" (dict "fill" "#333" "size" "14") }}
        </a>
      </li>
    </ul>

  </div>


  <div class="w-100 w-third-l tc">
    <div class="w-60-l center">

      <p class="f4">VoteIT is Free and Open Source software and completely free.</p>
      <p class="f4">Our members and contributors make VoteIT great.</p>
    </div>
  </div>


  <div class="w-100 tc w-third-l">
    <h3 class="f3 mv3 accent-color-light">More ways to contribute</h3>
    <ul class="list ma0 pa0">
      <li class="mb3 f4">
        <a href="https://voteit.se/se/overview/introduction/" class="link mid-gray dim">
          Help improve the docs {{ partial "svg/link-ext.svg" (dict "fill" "#333" "size" "14") }}
        </a>
      </li>

      <li class="mb3 f4">

        <a href="https://matrix.to/#/!EUyweVXSAklivKNoMe:matrix.org?via=matrix.org" class="link mid-gray dim">
          Help others in the Matrix chat (forum to come) {{ partial "svg/link-ext.svg" (dict "fill" "#333" "size" "14") }}
        </a>
      </li>
    </ul>
  </div>


  <!-- RIGHT -->


</div>
