{{ define "main" }}
<main class="cf pa5 pa4-l f4 tc center measure-wide lh-copy gray">
  <h1 class="f3 f2-ns">The page you're looking for doesn't exist. Perhaps you'd like to gopher something else? Sorry.</h1>
  <div class="h6">
    <img src="/images/logo-voteit.png" alt="" class="h5">
  </div>

  {{ .Content }}
</main>
{{ end }}
