<footer class="bg-primary-color-dark ph4-ns pt4 relative w-100" role="contentinfo">
    <div class="center flex-ns flex-wrap justify-between mw9 w-90">
      <div class="pb3 pt4 w-100 w-50-ns">

         <div class="b f3  light-gray mb3 nested-links tc">
           By the <a href="https://github.com/voteit/voteit.core/graphs/contributors" class="link">VoteIT Authors</a><br />
          </div>

          <div class="center w4">
            <img src="/images/logo-voteit.png" alt="VoteIT Logo">
          </div>

          <ul class="center f6 list ma0 mv3 pa0 tc">
            {{- with .Site.Params.github_repo -}}<li class="dib mr3"><a href="{{ . }}" class="dim link light-gray pv2">File an Issue</a></li>{{- end -}}
            {{- with .Site.Params.forum -}}<li class="dib mr3"><a href="{{ . }}" class="dim link light-gray pv2">Get Help</a></li>{{- end -}}
            {{- with .Site.Params.gitter -}}<li class="dib"><a href="{{ . }}" class="dim link light-gray pv2">Discuss Source Code</a></li>{{- end -}}
          </ul>

          <ul class="center f6 list ma0 mv4 pa0 tc">
            <li class="dib mr3"><a href="https://twitter.com/voteit" class="dim link light-gray pv2">@VoteIT</a></li>
            <li class="dib mr3"><a href="https://twitter.com/robin_betahaus" class="dim link light-gray pv2">@robin_betahaus</a></li>
            <li class="dib"><a href="https://twitter.com/andershultman" class="dim link light-gray pv2">@andershultman</a></li>
          </ul>

          {{ with  getenv "REPOSITORY_URL" -}}
          <p class="center f6 tc w-70"><a href="https://www.netlify.com"><img src="/images/netlify-dark.svg" alt="Netlify badge"></a></p>
          {{- end }}

      </div>

      <div class="w-100 w-50-l"> 
        {{ partial "home-page-sections/sponsors.html" (dict "cx" .  "gtag" "footer" "classes_section" "pb3 w-100" "classes_copy" "f7 w-90-ns") }}
      </div>

    </div>

    <div class="f7 gray mb5 mb0-ns ph3 w-100"> 
      <p class="dib mr4">The VoteIT logos are copyright © VoteIT 2011–{{ now.Year }}.</p>
      <p class="dib"></p>
    </div>

    <!--<img src="/images/gopher-side_color.svg" class="absolute-l bottom-0 dn db-l h4 right-0 z-999"/>-->

    <div class="bg-primary-color-dark bottom-0 left-0 right-0 dn-l fixed pb3 ph3 w-100">
      {{- partial "nav-mobile.html" . -}}
    </div>

</footer>
