<!-- TODO: Add follow intents where available TODO: Revisit color and hover color -->
{{ with .Site.Social.twitter }}
  <a href="https://twitter.com/intent/follow?screen_name={{ . }}" title="Follow on Twitter" class="link-transition twitter link dib z-999 pt3 pt0-l mr2">
    {{ partial "svg/twitter.svg" (dict "size" "32px") }}
  </a>
{{ end }}
<a class="github-button needs-js link primary-color-dark" href="https://github.com/VoteIT/voteit.core" data-size="large" data-show-count="false" aria-label="Star voteit/voteit.core on GitHub">Star</a>
